<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
		<meta charset="UTF-8"> 
		<title>Résultat</title> 
		<link rel="stylesheet" type="text/css"
			href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
	</head> 
	<body> 
		<div class="container">
			<h1>Bienvenu</h1>
		</div>
		<div class="container">
 				<p class="text-md-center"><span th:text="${nom}"></span><br></p>
		</div>
		<div class="container">
			<a th:href="@{|/|}"> Retour Accueil</a>
		</div>
	</body> 
</html>